<div class="jumbotron">
  <div class="container-fluid">
    <div class="col-md-6">
      <div class="row top-align">
        <h3><%= @user.first_name + ' ' + @user.last_name %></h3>
        <strong>Registered Email: </strong><%= @user.email %>
        <br>
        <strong>Balance: </strong>$<%= '%.2f' % (@balance * @exchange_rate_usd)  %>
        <br>
        <strong data-toggle="tooltip" title="Use this to transfer bitcoins from your Coinbase Wallet">Coinbase Account ID: </strong><%= @user.account_id %>
        <br>
        <br>
        <%= link_to "New Commitment", new_commitment_path, class: 'btn btn-large btn-primary', title: "Make your own commitment and have others sponsor you", data: { toggle: "tooltip" } %>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Let's get started!</h3>
      <p>Create your first commitment.</p>
    </div>
  </div>
</div>

<% @user.commitments.owned.each do |commitment| %>
  <div class="jumbotron">
    <div class="container-fluid">
      <div class="col-md-8">
        <div class="row top-align">
            <h3><%= commitment.title %></h3>
            <h5><%= "#{commitment.users.owner.first_name} #{commitment.users.owner.last_name}" %></h5>
        </div>
        <br>
        <div class="row top-align">
          <%= commitment.description %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row" title="The bitcoins earned could be kept or given to another account." data-toggle="tooltip" data-placement="left">
          Beneficiary: <%= commitment.beneficiary %>
        </div>
        <div class="row" title="Commitments must be fulfilled by this date" data-toggle="tooltip" data-placement="left">
          Expiry Date: <%= commitment.expiry_date ? commitment.expiry_date.strftime("%b %d, %Y") : 'N/A' %>
        </div>
        <div class="row" title="Pending, Ready, Fulfilled, or Failed" data-toggle="tooltip" data-placement="left">
          Status: <%= commitment.status %>
        </div>
        <div class="row" title="Once this amount is reached, the owner must fulfill the commitment or pay with bitcoins" data-toggle="tooltip" data-placement="left">
          Cost: $<%= '%.2f' % (commitment.cost * @exchange_rate_usd) %>
        </div>
        <br>
        <div class="row" id="num_sponsors_<%= commitment.id %>" title="The number of people sponsoring this commitment" data-toggle="tooltip" data-placement="left">
          Sponsors: <%= commitment.sponsor_count %>
        </div>
        <div class="row" id="money_raised_<%= commitment.id %>" title="The amount of sponsorship received so far" data-toggle="tooltip" data-placement="left">
          Amount Sponsored: $<%= '%.2f' % (commitment.cost_sponsored * @exchange_rate_usd) %>
        </div>
        <div class="row" title="The amount required to sponsor this commitment" data-toggle="tooltip" data-placement="left">
          Cost of Sponsorship: $<%= '%.2f' % (0.001 * @exchange_rate_usd) %>
        </div>
        <br>
        <% if commitment.status == Commitment::READY %>
          <div class="row">
            <%= link_to "Fulfill", '#', class: 'btn btn-large btn-success', title: "Fulfill your commitment and provide proof", data: { toggle: 'tooltip', placement: 'right'} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
