<div class="jumbotron">
  <div class="container-fluid">
    <div class="row top-align">
      <strong><%= @user.first_name + ' ' + @user.last_name %></strong>
      <br>
      <strong>Registered Email: </strong><%= @user.email %>
      <br>
      <strong data-toggle="tooltip" title="Use this to transfer bitcoins from your Coinbase Wallet">Coinbase Account ID: </strong><%= @user.account_id %>
      <br>
      <br>
      <%= link_to "New Commitment", new_commitment_path, class: 'btn btn-large btn-primary', title: "Make your own commitment and have others sponsor you", data: { toggle: "tooltip" } %>
    </div>
  </div>
</div>

<% @user.commitments.owned.each do |commitment| %>
  <div class="jumbotron">
    <div class="container-fluid">
      <div class="col-md-8">
        <div class="row top-align">
            <h3><%= commitment.title %></h3>
            <h5><%= "#{commitment.users.owner.first_name} #{commitment.users.owner.last_name}" %></h5>
        </div>
        <br>
        <div class="row top-align">
          <%= commitment.description %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          Expiry Date: <%= commitment.expiry_date.strftime("%b %d, %Y") %>
        </div>
        <div class="row">
          Status: <%= commitment.status %>
        </div>
        <div class="row">
          Cost: $<%= '%.2f' % commitment.cost %>
        </div>
        <br>
        <div class="row" id="num_sponsors_<%= commitment.id %>">
          Sponsors: <%= commitment.sponsor_count %>
        </div>
        <div class="row" id="money_raised_<%= commitment.id %>">
          Amount Sponsored: $<%= '%.2f' % (commitment.cost_sponsored * @exchange_rate_usd) %>
        </div>
        <div class="row">
          Cost of Sponsorship: $<%= '%.2f' % (0.001 * @exchange_rate_usd) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
