<% @commitments.each do |commitment| %>
  <div class="jumbotron">
    <div class="container-fluid">
      <div class="col-md-8">
        <div class="row top-align">
            <h3><%= commitment.title %></h3>
        </div>
        <br>
        <div class="row top-align">
          <%= commitment.description %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          Expiry Date: <%= commitment.expiry_date.strftime("%b %d, %Y") %>
        </div>
        <div class="row">
          Status: <%= commitment.status %>
        </div>
        <div class="row">
          Cost: $<%= '%.2f' % commitment.cost %>
        </div>
      </div>
    </div>
  </div>
<% end %>
