<% @commitments.each do |commitment| %>
  <div class="jumbotron">
    <div class="container-fluid">
      <div class="col-md-8">
        <div class="row top-align">
            <h3><%= commitment.title %></h3>
        </div>
        <br>
        <div class="row top-align">
          <%= commitment.description %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          Expiry Date: <%= commitment.expiry_date.strftime("%b %d, %Y") %>
        </div>
        <div class="row">
          Status: <%= commitment.status %>
        </div>
        <div class="row">
          Cost: $<%= '%.2f' % commitment.cost %>
        </div>
        <br>
        <div class="row" id="num_sponsors_<%= commitment.id %>">
          Sponsors: <%= commitment.sponsor_count %>
        </div>
        <div class="row" id="money_raised_<%= commitment.id %>">
          Amount Sponsored: $<%= '%.2f' % commitment.cost_sponsored %>
        </div>
        <br>
        <div class="row">
          <% cid = commitment.id.to_s %>
          <%= link_to "Sponsor", '#', remote: true, class: 'btn btn-large btn-success', id: "button_" + cid, path: sponsor_commitment_path(commitment), sponsors_id: "num_sponsors_" + cid, raised_id: "money_raised_" + cid, button_id: "button_" + cid%>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(function () {
      $("a[data-remote]").on('click', function () {
        sponsors_id = $(this).attr("sponsors_id")
        raised_id = $(this).attr("raised_id")
        button_id = $(this).attr("button_id")
        $.ajax({
              url: $(this).attr("path"),
              type:"get",
              dataType:"json",
              success: function(data) {
                if (data.success) {
                  document.getElementById(sponsors_id).innerHTML = "Sponsors: " + data.sponsors
                  document.getElementById(raised_id).innerHTML = "Raised: $" + data.cost_sponsored.toFixed(2)
                  document.getElementById(button_id).innerHTML = "Thanks!"
                  document.getElementById(button_id).disabled = true
                } else {
                  alert("What? You Failed!")
                }
              }
          });
      });
  });
</script>
